<footer class="footer-basic-centered">

    <p class="footer-company-motto">The Prince Hotel.
        <br>
        +48 123 345 678
        <br>
        ul. Słoneczna 54
        10-710 Olsztyn
        <br>
        prince@hotel.com
    </p>

    <p class="footer-links">
        <a ui-sref="home" class="">Strona główna</a>
        ·
        <a ui-sref="restaurant" class="">Restauracja</a>
        ·
        <a ui-sref="rooms" class="">Pokoje</a>
        ·
        <a ui-sref="contact" class="">Kontakt</a>
        ·
    </p>

    <p class="footer-company-name">Prince Hotel &copy; 2017</p>

</footer>