<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="authCtrl">
    <div class="container-fluid">
        <div class="navbar-header" >
            <!-- For mobile version -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <img src="" alt="Hotel-logo">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/account">user info<span class="sr-only">(current)</span></a></li>
                <li ng-hide="isLoggedIn()"><a href="#/signin">Zaloguj się</a></li>
                <li class="dropdown">
                    <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/">Action</a></li>
                        <li><a href="#/">Another action</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Konto <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-hide="isLoggedIn()"><a ui-sref="signup">Rejestracja</a></li>
                        <li ng-hide="isLoggedIn()"><a ui-sref="signin">Zaloguj</a></li>
                        <li ng-show="isLoggedIn()"><a ui-sref="account.details">Konto</a></li>
                        <li ng-show="isLoggedIn()"><a ng-click="signout()" href="">Wyloguj</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>