<div ng-controller="accCtrl">
    <p>user info</p>
    <div class="panel panel-default row">
        <div class="col-md-5">
            <div class="well">
                <button ui-sref="account.details" class="btn">Dane Urzytkownika</button>

                <button ui-sref="account.bookings" class="btn">Pokaż rezerwacje</button>

                <button ui-sref="account.changePassword" class="btn">Zmień hasło</button>
            </div>
        </div>
        <div class="col-xs-7">
            <div>
                <div ui-view></div>
            </div>
        </div>

    </div>

</div>
