<div ng-controller="accCtrl">
    <p>user info</p>
    <div class="row">
        <div class="panel panel-default ">

            <div class="well col-md-2" >
                <div class="row">
                    <button ui-sref="account.details" class="btn btn-block">Dane Urzytkownika</button>
                </div>

                <div class="row">
                    <button ui-sref="account.bookings" class="btn btn-block">Pokaż rezerwacje</button>
                </div>

                <div class="row">
                    <button ui-sref="account.changePassword" class="btn btn-block">Zmień hasło</button>

                </div>
            </div>
            <div class="col-md-10">
                <div>
                    <div ui-view></div>
                </div>
            </div>

        </div>
    </div>

</div>
