<p>user booking sub view</p>
<div class="row" ng-repeat="booking in userBookings.bookings | orderBy:'-reservations.from'">
    {{booking._id}}
    <div class="col-sm-4">
        <div><img ng-src="{{booking.imagePath}}" alt="" class="room-thumbnail"></div>
    </div>
    <div class="col-sm-8">
        <div>
            {{booking.reservations.from}} - {{booking.reservations.to}}
            {{booking.type}}
            {{booking.reservations.price}}
        </div>
        <button class="btn btn-warning" ng-show="checkDate(booking.reservations.from)" ng-click="cancelBooking(booking._id, booking.reservations._id)">Anuluj</button>
    </div>

</div>
