<div>
    <p>Change Password view</p>
    <p ng-show="successfulPasswordChange" class="alert alert-success">
        Zmiana hasła przebiegła pomyślnie!
    </p>
    <p ng-show="wrongPassword" class="alert alert-danger">
        Podane hasło jest błędne!
    </p>
    <form name="frm" ng-submit="changePassword(frm.$valid, oldPass, newPass)" novalidate>
        <div class="form-group">
            <label for="oldPassword">Podaj stare hasło</label>
            <input type="password" id="oldPassword" name="oldPassword" class="form-control" ng-model="oldPass"
                   ng-minlength="8" ng-maxlength="25" required>
            <span ng-show="frm.oldPassword.$dirty && frm.oldPassword.$error.required" class="help-block">To pole jest wymagane</span>
            <span ng-show="frm.oldPassword.$error.minlength" class="help-block">Hasło jest za krótkie</span>
            <span ng-show="frm.oldPassword.$error.maxlength" class="help-block">Hasło jest za długie</span>
        </div>

        <div class="form-group">
            <label for="newPassword">Podaj nowe Hasło</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" ng-model="newPass"
                   minlength="8" maxlength="25" required>
            <span ng-show="frm.newPassword.$dirty && frm.newPassword.$error.required" class="help-block">To pole jest wymagane</span>
            <span ng-show="frm.newPassword.$error.minlength" class="help-block">Hasło jest za krótkie</span>
            <span ng-show="frm.newPassword.$error.maxlength" class="help-block">Hasło jest za długie</span>
        </div>

        <div class="form-group">
            <label for="reNewPassword">Potwierdź hasło</label>
            <input type="password" name="reNewPassword" id="reNewPassword" class="form-control" ng-model="reNewPass"
                   compare-to="newPass" minlength="8" maxlength="25" required>
            <span ng-show="frm.reNewPassword.$dirty && frm.reNewPassword.$error.required" class="help-block">To pole jest wymagane</span>
            <span ng-show="frm.reNewPassword.$dirty && frm.$error.compareTo && !frm.reNewPassword.$error.required" class="help-block">Hasła różnią się.</span>
        </div>

        <button type="submit" class="btn btn-success" ng-disabled="frm.$invalid">Zapisz</button>
    </form>
</div>
