<div ng-controller="confirmationCtrl">

    <!--
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
             aria-valuemin="0" aria-valuemax="100" style="width:100%">
        </div>
    </div>
    -->
<!--Show login and register screen if not logged in-->
    <div ng-hide="isSignedIn" class="container" ng-controller="authCtrl">
        <p>Aby potwierdzić rezerwację należy zalogować się na konto</p>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Logowanie</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Rejestracja</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" role="form" style="display: block;">
                                    <div class="form-group">
                                        <input type="email" name="username" id="email" tabindex="1" class="form-control" placeholder="Adres Email" ng-model="user.email" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Hasło" ng-model="user.password">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button type="button" id="signin-submit" class="form-control btn btn-login" tabindex="4" ng-click="signin()">Zaloguj</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="#/" tabindex="5" class="forgot-password">Nie pamiętam hasła</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form name="frm" id="register-form" role="form" ng-submit="submitForm(frm.$valid)" novalidate style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="firstName" id="firstName" tabindex="1" class="form-control" placeholder="Imię" ng-model="user.firstName" maxlength="40" required>
                                        <span ng-show="frm.firstName.$dirty && frm.firstName.$error.required" class="help-block">To pole jest wymagane</span>
                                        <span ng-show="frm.firstName.$error.maxlength" class="help-block">Imię jest za długie</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="lastName" id="lastName" tabindex="2" class="form-control" placeholder="Nazwisko" ng-model="user.lastName"  maxlength="40" required>
                                        <span ng-show="frm.lastName.$dirty && frm.lastName.$error.required" class="help-block">To pole jest wymagane</span>
                                        <span ng-show="frm.lastName.$error.maxlength" class="help-block">Nazwisko jest za długie</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="3" class="form-control" placeholder="Adres email" ng-model="user.email" required>
                                        <span ng-show="frm.email.$dirty && frm.email.$error.required" class="help-block">To pole jest wymagane</span>
                                        <span ng-show="frm.email.$dirty && frm.email.$error.email" class="help-block">To nie jest prawidłowy adres email</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="4" class="form-control" placeholder="Hasło" ng-model="user.password"  ng-minlength="8" ng-maxlength="25" required>
                                        <span ng-show="frm.password.$dirty && frm.password.$error.required" class="help-block">To pole jest wymagane</span>
                                        <span ng-show="frm.password.$dirty && frm.password.$error.minlength" class="help-block">Hasło jest za krótkie</span>
                                        <span ng-show="frm.password.$dirty && frm.password.$error.maxlength" class="help-block">Hasło jest za długie</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="rePassword" id="rePassword" tabindex="5" class="form-control" placeholder="Potwierdź hasło" ng-model="user.rePassword" required  compare-to="user.password">
                                        <span ng-show="frm.rePassword.$dirty && frm.rePassword.$error.required" class="help-block">To pole jest wymagane</span>
                                        <span ng-show="frm.rePassword.$dirty && frm.$error.compareTo && !frm.rePassword.$error.required" class="help-block">Hasła różnią się.</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="number" id="number" tabindex="7" class="form-control" placeholder="Number telefonu" ng-model="user.phoneNumber" ng-pattern="regex">
                                        <span ng-show="frm.number.$dirty && frm.number.$invalid" class="help-block">Proszę podać prawidłowy numer telefonu</span>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button type="submit" name="register-submit" id="register-submit" class="form-control btn btn-register" ng-disabled="frm.$invalid">Zarejestruj</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <p ng-show="submitError" class="alert alert-danger">{{errorMessage}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end of login screen-->
    <div ng-show="isSignedIn">
        {{room.room.type}}
        {{dateFrom}}
        {{dateTo}}
        {{extras}}
        {{numOfDays}}
        {{price}}
        {{discount}}

        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <span>Zapoznałem się oraz akceptuję <span style="color:red;">*</span>  </span><input type="checkbox" ng-model="terms">
                        <br>
                        <a href="" data-toggle="modal" data-target="#regulamin">Pokaż Regulamin</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button class="btn btn-warning" ng-click="toPrevious()">Wstecz</button>
            <button class="btn btn-success" ng-click="reserve()">Rezerwuj</button>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="regulamin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Regulamin</h4>
            </div>
            <div class="modal-body">
                <p>TODO dodac jakiś regulamin</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>
<script>
    $(function() {

        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });

</script>