<p>Details sub view</p>
<div>
    <div >
        <label for="">Imię: </label>
        <input type="text" value="{{firstName}}">
    </div>
    <div >
        <label for="">Nazwisko: </label>
        <input type="text" value="{{lastName}}">
    </div>
    <div >
        <label for="">Adres Email</label>
        <input type="text" value="{{email}}">
    </div>
    <div >
        <label for="">Numer telefonu</label>
        <input type="text" value="{{phone}}">
    </div>
    <div>
        <button>Zapisz</button>
    </div>
</div>