<div ng-controller="roomCtrl">
    <!--
    <div class="main-image-container">
        <img class="main-image" src="images/background-image.jpg" alt="main">
    </div>
    -->


    <p ng-init="init()"></p>
    <div class="container">
        <!--
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="33"
                 aria-valuemin="0" aria-valuemax="100" style="width:33%">
            </div>
        </div>
        -->
        <div class="row booking-dates">
            <div class="col-sm-4">
                <div>Data przyjazdu</div>
                <div>
                    <input type="date" ng-change="findRooms()" ng-model="dateFrom" class="arrival">
                    <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                </div>

            </div>
            <div class="col-sm-4">
                <div>Data wyjazdu</div>
                <div>
                    <input type="date" ng-change="findRooms()" ng-model="dateTo" class="departure">
                    <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                </div>

            </div>
            <div class="col-sm-4">
                <div>Ilość osób</div>
                <div>
                    <input ng-model="numberOfBeds" ng-change="findRooms()" type="number" max="6" value="1" class="num-of-ppl">
                    <i class="fa fa-male fa-2x" aria-hidden="true"></i>
                </div>

            </div>
        </div>
        <br>

        <div ng-repeat="room in rooms | uniqueCategories: 'type'" class="row room-info" ng-hide="noRoomsError">
            <br>
            <div class="col-sm-4"><img ng-src="{{room.imagePath}}" alt="" class="room-thumbnail"></div>
            <div class="col-sm-6">
                <div>{{room.type}}</div>
                <div>{{room.description}}</div>
            </div>

            <div class="col col-sm-2 main-price">
                <button ng-click="addRoom(room)" class="btn btn-successful btn-hover">Wybierz</button>
                <span class="label label-primary">{{room.price | currency: ''}} zł / noc</span>
            </div>


        </div>
        <div ng-show="noRoomsError">
            <p>Brak wolnych pokoji w podanym terminie. Proszę spróbować inny termin.</p>
        </div>

    </div>


</div>

