<div ng-controller="roomCtrl" ng-init="getAllRooms()">
    <p>main managment view</p>
    <div class="row">



        <div class="room col-xs-1" data-toggle="modal" data-target="#regulamin"
             ng-repeat="room in allRooms" ng-class="getAvailability(room.reservations)" ng-click="select(room)">
          <p>{{room.number}}</p>
        </div>


    </div>


<!-- Modal -->
<div id="regulamin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Regulamin</h4>
            </div>
            <div class="modal-body">
                <p>Pokój: {{selectedRoom.type}}</p>
                <p>numer: {{selectedRoom.number}}</p>
                <p>L.osób: {{selectedRoom.beds}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>
</div>
<script>
    $(function() {

        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });

</script>