<div ng-controller="roomCtrl" ng-init="managmentInit()">

    <div class="row managment">
        <div class="panel panel-default ">

            <div class="panel-heading col-md-2" >
                <div class="row">
                    <button ui-sref="managment.rooms" class="btn btn-block">Zarządzanie pokojami</button>
                </div>

                <div class="row">
                    <button ui-sref="managment.vouchers" class="btn btn-block">Vouchery</button>
                </div>

                <div class="row">
                    <button ui-sref="managment.users" class="btn btn-block">Użytkownicy</button>

                </div>
            </div>
            <div class="panel-body col-md-10">
                <div>
                    <div ui-view></div>
                </div>
            </div>

        </div>
    </div>

</div>


