<div ng-controller="roomCtrl" ng-init="managmentInit()">
    <p>main managment view</p>
    <div class="row">
        <div class="col-xs-6">
            <label for="roomDateFrom">Od:</label>
            <input type="date" id="roomDateFrom" ng-model="roomDateFrom" ng-change="getAllRooms()">
        </div>
        <div class="col-xs-6">
            <label for="roomDateTo">Do:</label>
            <input type="date" id="roomDateTo" ng-model="roomDateTo" ng-change="getAllRooms()">
        </div>
    </div>
    <div class="row">



        <div class="room col-xs-1" data-toggle="modal" data-target="#regulamin"
             ng-repeat="room in allRooms" ng-class="getAvailability(room.reservations)" ng-click="select(room)">
            <p>{{room.number}}</p>
        </div>


    </div>
<!--//TODO najpierw pobrac pokoje do tablicy i zaleznie od tego porozdzielac na rozne kategorie-->

<div ng-controller="voucherCtrl">
    Ile: <input type="number" max="100" data-toggle="tooltip" title="Proszę podać ilość kuponów do wygenerowania (max. 100)" ng-model="numberOfVouchers">
    Typ: <select ng-model="voucherType">
            <option value="0">Jednokrotnego użytku</option>
            <option value="1">Wielokrotnego użytku</option>
        </select>
    <div>
        Upust: <input type="text" data-toggle="tooltip" title="Proszę podać w złotówkach lub procentach (zł lub % na końcu)" ng-model="discount">
    </div>
    <div>
        Data wygaśnięcia: <input type="date" ng-model="voucherExpiryDate">
    </div>
    <button class="btn" ng-click="generateVouchers()">Generuj vouchery</button>
    <div ng-show="voucherError">
        {{voucherError}}
    </div>
    <div ng-repeat="voucher in generatedVouchers">
        <li>{{voucher}}</li>
    </div>
    <div>
        <button class="btn btn-success" ng-show="vouchersGenerated" ng-click="saveVouchers()">Zapisz</button>
    </div>
</div>

<!-- Modal -->
<div id="regulamin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pokój</h4>
            </div>
            <div class="modal-body">
                <p>Pokój: {{selectedRoom.type}}</p>
                <p>numer: {{selectedRoom.number}}</p>
                <p>L.osób: {{selectedRoom.beds}}</p>
            </div>
            <div>
                <button ng-click="toBooking(selectedRoom,roomDateFrom,roomDateTo)">Rezerwuj</button>
                <button ng-click="toBookings(selectedRoom)">Pokaż rezerwacje</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
