<div ng-init="showOffer()" ng-controller="offerCtrl" class="panel panel-default row">
    <p>Offer View</p>

    <div class="col-xs-5">
        <div class="well" ng-repeat="extra in extras">
            <h5><strong>{{extra.name}}</strong></h5>
            <span class="pull-right label label-primary">{{extra.price | currency}} {{extra.unit}}</span>
            <button class="btn btn-primary" ng-class="{'button-remove': extra.buttonToggle}" ng-click="addOrRemoveExtra(extra)">{{extra.buttonText}}</button>
        </div>
    </div>
    <div class="col xs-7">
        <div>
            <p><strong>Podsumowanie</strong></p>
            <p>Data przyjazdu: {{dateFrom}}  -  Data wyjazdu: {{dateTo}}</p>
            <br>
            <p>Pokój {{roomName}}</p>

        </div>
    </div>

</div>
