<div class="row">
    <div class="col col-xs-12">
        <h2 class="text-center">Pokoje</h2>
        <p>W naszej ofercie znajdziecie Państwo pokoje typu Standard Single, Standard Twin, Family Double oraz Apartament.
            Pokoje typu Standart Single mieszczą jedną osobę, Standard Twin oraz Apartament są dwu osobowe, natomiast Family Double przeznaczony jest dla dwóch osób dorosłych oraz dwójki dzieci do lat 16.
            Z myślą o Państwa komforcie nasi pracownicy z przyjemnością przygotują dla Państwa dostawkę lub wstawią łóżeczko dla najmłodszych.
            Pokoje klasy Apartament wyposażone są w klimatyzację.
        </p>
        <div>
            <h3>Pokoje Standard Single</h3>
            <p>
                Komfort i przestrzeń w pokojach typu Standard. Wyposażenie pokoi obejmuje: wygodne łóżko, telewizję kablową, darmową sieć Wi-Fi, przestronną łazienkę, biurko do pracy oraz zestaw wody mineralnej.
            </p>
            <h3>Pokoje Standard Twin</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, est quis dignissim fringilla, sapien tellus finibus velit, et pretium neque lacus eu nunc. Nullam vel nulla eu ante imperdiet dignissim vitae sit amet lorem. Etiam vitae risus sit amet elit iaculis hendrerit. Duis tempus ipsum sed elementum consectetur. Nulla a vestibulum nulla, sed mollis erat. Aenean sagittis sed ligula ut mattis. Donec ultricies tincidunt justo, nec ornare ex euismod eget.
            </p>
            <h3>Pokoje Family Double</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, est quis dignissim fringilla, sapien tellus finibus velit, et pretium neque lacus eu nunc. Nullam vel nulla eu ante imperdiet dignissim vitae sit amet lorem. Etiam vitae risus sit amet elit iaculis hendrerit. Duis tempus ipsum sed elementum consectetur. Nulla a vestibulum nulla, sed mollis erat. Aenean sagittis sed ligula ut mattis. Donec ultricies tincidunt justo, nec ornare ex euismod eget.
            </p>
            <h3>Pokoje Apartament</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, est quis dignissim fringilla, sapien tellus finibus velit, et pretium neque lacus eu nunc. Nullam vel nulla eu ante imperdiet dignissim vitae sit amet lorem. Etiam vitae risus sit amet elit iaculis hendrerit. Duis tempus ipsum sed elementum consectetur. Nulla a vestibulum nulla, sed mollis erat. Aenean sagittis sed ligula ut mattis. Donec ultricies tincidunt justo, nec ornare ex euismod eget.
            </p>
        </div>
    </div>
</div>