<div ng-controller="roomCtrl" ng-init="initBooking()">
    <div class="row">
        <form name="bookingFrm" ng-submit="submitBookForm()" novalidate>
            <h3>Pokój: {{booking.room.type}}</h3>
            <p>Od: {{booking.dateFrom | date: "dd-MM-yyyy"}}</p>
            <p>Do: {{booking.dateTo | date: "dd-MM-yyyy"}}</p>
            <p>Cena za noc: {{booking.room.price | currency: ''}} zł</p>
            <div>
                <p>Wybierz użytkownika lub dodaj nowego:</p>
                <button type="button" class="btn btn-default" ng-click="selectOrAddUser = false">Wybierz</button>
                <button type="button" class="btn btn-default" ng-click="selectOrAddUser = true">Nowy</button>
            </div>
            <div ng-show="selectOrAddUser">
                <input type="text" ng-model="test.firstName" placeholder="Imie">
                <input type="text" ng-model="test.lastName" placeholder="Nazwisko">
                <input type="text" ng-model="test.email" placeholder="email">
                <input type="text" ng-model="test.phone" placeholder="telefon">
            </div>
            <div ng-show="selectOrAddUser == false">
                <select name="userSelect" ng-model="selectedUserBooking">
                    <option ng-repeat="user in users" value="{{user}}">{{user.email}}</option>
                </select>
            </div>


            <div >
                <div class="well" ng-repeat="extra in extras">
                    <h5><strong>{{extra.name}}</strong></h5>
                    <span class="pull-right label label-primary">{{extra.price | currency: ''}} zł {{extra.unit}}</span>
                    <button type="button" class="btn button-extra" ng-class="{'button-remove': extra.buttonToggle}" ng-click="addOrRemoveExtra(extra)">{{extra.buttonText}}</button>
                </div>
                <div ng-controller="voucherCtrl">
                    <div >
                        Voucher: <input name="voucher" type="text" ng-model="voucher" minlength="23" maxlength="23" ng-change="codeChanged()" vouchercheck>
                        <button type="button" class="btn btn-success" ng-click="checkVoucher()" ng-disabled="bookingFrm.$invalid">Zatwierdź</button>
                    </div>
                    <div>
                        <span ng-show="bookingFrm.voucher.$dirty && bookingFrm.voucher.$error.minlength">Kod jest za krótki</span>
                        <span ng-show="bookingFrm.voucher.$dirty && bookingFrm.voucher.$error.validVoucher && !bookingFrm.voucher.$error.minlength">Niepoprawny format kodu</span>
                        <span ng-show="voucherNotFound">{{voucherNotFound}}</span>
                        <span ng-show="voucherFound">{{voucherFound}}</span>
                    </div>
                </div>

                <p>Cena dodatków: {{extrasTotalPrice | currency: ''}} zł</p>
                <p>Zniżka: {{discount.amount}} {{discount.type}}</p>
                <p>Cena całkowita: {{totalPrice | currency: ''}} zł</p>
            </div>



        <button type="submit" class="btn btn-success">Zarezerwuj</button>
        </form>

    </div>
</div>