<div ng-controller="accCtrl">
    <p>user info</p>
    <div class="panel panel-default row">
        <div class="col-xs-5">
            <div class="well">
                <button class="btn">Dane Urzytkownika</button>
                <button class="btn">Pokaż rezerwacje</button>
            </div>
        </div>
        <div class="col xs-7">
            <div>
                <user-info></user-info>
            </div>
        </div>

    </div>
    {{userBookings}}
    <button ng-click="getUserBookings()">get bookings</button>
</div>
